*{ bottom: 0;
    margin: 0;
   box-sizing: content-box;
 font-family: sans-serif;
background-repeat: no-repeat;
}
body{
     position: relative;
     top: .0vh;
    background-image: url("rm218batch7-katie-04.jpg");
background-size: 100vw 100vw;
}
.box{ display: flex; 
    position: relative;
bottom: 45.9px;
    position:relative;
    justify-content: center;
   
}
.child{  background-color: rgb(255, 255, 255);
    width: 85vh; height: 86.5vh;
}  
.home{ background-color: rgb(7, 87, 161);
    margin-left: -40px;
    padding-bottom: 5px;
}
li{  display: inline-block;
    padding: 6.2px;
 font-size:16px;
}
.k{
    color: rgb(12, 87, 185);
}
.topnav{ text-align: start; height: 46px; line-height: 36px;
     color: rgb(253, 253, 253);
    background-color: rgb(14, 142, 247);
}
.left{ 
    display: inline-block;
 padding-left: 6px;
    font-size: 16px;  width: 67vh;
   
}
.right{ display: inline-block;
    width: 30vh;
    font-size:16px;
    padding-right: 1.6px;
} 
.container{
display: flex;
    justify-content: space-between;
}
.black{
 height: 18vh; 
 
    background-color: black;
} 
.ptag{
    font-size: 19.5px;
}
.footer{ text-align: center; 
    position: relative;
    top: 130.4px;
    color: cornsilk; 
    padding: 20px;
    background-color:  rgb(14, 142, 247);
    font-size: 11px;

} 
.se{
    font-size: 2.6vh; 
   

}
.search{  position: relative;
    /* width: 23px; */
    top: 5px;
}
.form{ height: 10px;
    width:57px;
}
.textb{ font-size: 22px; position: relative;
margin-left: 60vh;  

top: 6px;
    color: rgb(70, 126, 247);
 }
 .lo{top: 1vh;
     color: rgb(202, 199, 199); padding-left: 60.1vh;
     font-size: 11px;
 }